<div class="form-group">
  <label>
    {{label}}
  </label>
  {{view Ember.Select class="form-control" viewName="select" content=content optionLabelPath=optionLabelPath optionValuePath=optionValuePath selection=selection value=value prompt=prompt}}
</div>