$icon-font-path: "fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

#main {
	/* background-image: url("../images/gui/tiny_grid/tiny_grid.png"); */
}

.navbar-default {
	background-image: url("../images/gui/grey/grey.png");
}

.plotted {
	background-image: url("../images/gui/tiny_grid/tiny_grid.png");
  overflow: auto;
}

.control-ui-picker {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.device-view {
  margin-left: auto;
  margin-right: auto;
  -moz-transform-origin: 0 0;
}

.device-view.ios.iPhone5s {
  background-image: url("../images/devices/ios/iPhone_5s.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 370px;
  height: 777px;
  padding: 114px 27px 109px 31px;
}