<div class="row">
    <div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Views</div>
                <div class="panel-body">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>