{{#each uiControls}}
  {{#if uiControls}}
    <li><span><i class="fa fa-plus-square-o"></i> {{#link-to 'dispatchUiControl' this}}{{name}}{{/link-to}}</span>
      <ul>
        {{partial "partials/tree_container"}}
      </ul>
    </li>
  {{else}}
    <li>{{#link-to 'dispatchUiControl' this}}{{name}}{{/link-to}}</li>
  {{/if}}
{{/each}}