<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">App name:</span> 
           {{input 
              value=name
              class="form-control"
              placeholder="name"
              type="text"
              focus-out="acceptChanges"
              insert-newline="acceptChanges"}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-inline">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span> 
             {{view Ember.Select content=devices optionLabelPath='content.label' optionValuePath="content" class="form-control" value=device}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <button class="btn btn-default" {{action 'generateAppModel'}}><i class="fa fa-download"></i> Model</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}