<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        AppName
      </div>
      <div class="col-md-4">
        <div class="form-inline">
          {{view Ember.Select content=platforms optionLabelPath='content.label' optionValuePath="content.id" class="form-control"}}
          {{view Ember.Select content=devices optionLabelPath='content.label' optionValuePath="content.id" class="form-control"}}
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
{{outlet}}